.content
{
 background-color:#ffb901;
  display: flex;
  flex-direction: column;



}
img{
    display: block;
    width: 50%;
   
}
.header{
  //height: 30%;
  padding-left: 20px;
   margin-top: 10%;
   margin-bottom: 20px;
 //padding-top: auto;


}
.register
{
  background-color: white;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
height: 100vh;
padding-top: 30px;

}
input{
  background-color: #eee;
  border-radius:20px;
  width: 85%;
  display: block;
  margin: auto;
  padding: 10px;
  padding-left: 30px;
  margin: 10px auto;
  border: none;
  font-size: 17px;
  font-weight: 600;

}
input[type='submit']{
  font-size: 18px;
 padding:12px ;
  background-color: #000;
  color: white;
}
input:focus{ outline: none; }
.titre{
font-size: 22px;
font-weight: 1000;
margin-top: 0px;

}
.petitTitre{
 font-size: 16px;

font-family:Bodoni MT Black;
}
.login{
  text-align: end;
  margin-right: 10%;
  font-weight: 600;
}
.password
{
  font-size: 14px;
  font-weight: 600;
  color: rgb(7, 134, 177);
  margin-right: 10%;
  text-align: end;
}
.welcome{
  font-size: 18px;
  font-weight: 800;
  margin-left: 10%;
}
.welcomeDev{
  display: flex;
}
.welcomeDev i{
 margin:auto 0;
 margin-left: auto;
 margin-right: 10%;
 font-size: 25px;

}

