
<ion-content>
  <div class="content">
    <div class="header">
      <p class="titre">Modifier les formation</p>
      <!-- <p class="petitTitre">malika  malika touria mamagd refsv fhhv malika touria mamagd refsv fhhv  </p> -->
    </div>
    <div class="register">
      <div>
        <form [formGroup]="infoGeneral" (ngSubmit)="update()">
          <label for="">Nom</label>
      <input type="text" formControlName="nom" value="{{formation.nom}}">
      <label for="">Prix</label>
      <input type="text" formControlName="prix"  value="{{formation.prix}}">
      <label for="">Date</label>
      <input type="text" formControlName="date" value="{{formation.date}}">
      <label for="">Description</label>
     <textarea name="" id="" cols="30" rows="6" formControlName="description">{{formation.description}}</textarea>
      <input type="submit" value="Modifier">
    </form>
    </div>
  
  </div>
  </div>
  
</ion-content>
