<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="content">
  <div class="header">
    <p (click)="mesCommandes()">Mes réservations</p>
    <i class="fa fa-sign-out" (click)=" signOut()"></i>
   
  </div>
  
  <div  class="items">

    <div class="formationBox" *ngFor="let item of listFormations;">
      <div class="description">
        <p class="name">{{item.nom}}</p>
        <p class="description2">{{item.description}} </p>
      </div>
      <div (click)="versPageDetails(item.docid)" class="voirPlus">
        <p>voir plus</p>
      </div>
    </div>

  </div>

</div>